.seat {
  height: 36px !important;
  width: 36px !important;
  color: #fff !important;
  border-radius: 0px 0px 8px 0px !important;
}

.seat__number {
  font-size: 14px !important;
}

.seat--north {
  background-color: #13c2c2 !important;
}

.seat--south {
  background-color: #faad14 !important;
}

.seat--north.seat--enabled:hover {
  background-color: #08979c !important;
}
.seat--south.seat--enabled:hover {
  background-color: #d48806 !important;
}

.seat--selected {
  cursor: pointer;
  background-color: #002329 !important ;
}

.seat--reserved {
  cursor: not-allowed;
  background-color: #d9d9d9 !important;
}

.seat-content {
  overflow: scroll !important;
}
.seat-picker {
  margin: auto !important;
}
